// GPLv3, Copyright (C) 2017, theBlock, https://theblock.io

{
  "env": {
    "development": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-react-jsx",
        "transform-runtime"
      ],
      "presets": [
        "flow",
        "es2017", "es2016", ["es2015", { "modules": false }],
        "stage-0",
        "react"
      ],
    },
    "production": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-react-jsx",
        "transform-runtime"
      ],
      "presets": [
        "flow",
        "es2017", "es2016", ["es2015", { "modules": false }],
        "stage-0",
        "react"
      ]
    },
    "test": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-react-jsx",
        "transform-runtime"
      ],
      "presets": [
        "flow",
        "es2017", "es2016", "es2015",
        "stage-0",
        "react"
      ]
    }
  }
}
