
@import '../../colors.scss';

$imageSizeInput: 1.5625em;
$imageSizeNormal: 1.5625em;
$imageSizeLarge: 4em;

.ui {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: middle;

  &.inline {
    font-size: $imageSizeInput;
  }

  &.large {
    font-size: $imageSizeLarge;
  }

  &.normal {
    font-size: $imageSizeNormal;
  }
}
